<div class=".section">
   <h6>Crypto: </h6>
   <ul id="crypto">
   {{#each crypto as |crypto|}}
     <li>
       {{crypto.asset}} amount: {{crypto.amount}} exchange: {{crypto.exchange}}
     </li>
   {{/each}}
   </ul>
</div>
