@import '~bootstrap/scss/bootstrap';

.navbar {
  background-color: adjust-hue(rgb(2, 31, 66), 10deg);
}
h1{
  margin-right: 875px;
}
body{
  background-color: rgb(2, 31, 66);
  color: white;
}

  .content {
    @include make-row;
    &:empty {
      &::before {
        font-size: 3vh;
        line-height: .85;
        text-align: center;
        width: 100%;
        padding-top: 15px;
      }
    }
  }

.container {
  display: flex;
  justify-content: center;
  background-color: adjust-hue(rgb(2, 31, 66), 10deg);
  width: 400px;
  padding-top: 15px;
  color: white
}

p {
  display: flex;
  justify-content: center;
  font-size: 6vh;
}
  button {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 50px;
}

.auth {
  display: flex;
  justify-content: center;
  align-content: center
}

.crypto-assets {
    @extend .navbar-brand;
    @extend .h1;
    margin-bottom: 0;
  }

.content {
    @include make-row;

    &:empty {
      &::before {
        font-size: 10vh;
        line-height: .85;
        text-align: center;
        width: 100%;
      }
    }
  }

#authenticated {
  display: none;
  }

  #sign-out{
    display: flex;
    justify-content: flex-end;
    margin-left: 100px;

  }

  #createCrypto{
    margin-left: 50px;
    font-size: 20px;
  }

  #change-password{
    display: flex;
    justify-content: flex-end;
    margin-left: 90px;
  }

  .updateCryptoAsset{
    display: flex;
    justify-content: center;
  }
